<!DOCTYPE html>
<html>
<head>
	<title>用户登录</title>
	<link rel="stylesheet" type="text/css" href="/bowersrc/bootstrap/dist/css/bootstrap.min.css">
	<script type="text/javascript" src='/bowersrc/jquery/dist/jquery.min.js'></script>
</head>
<body>
	<div class="container" style="width:500px;margin:200px auto">
		<div class="row">
			<div class="panel panel-primary">
				<!-- Default panel contents -->
				<div class="panel-heading">用户登录</div>
				<div class="panel-body">
					<form class="form-horizontal" method="post" action="/account/login">
						<div class="form-group">
							<label for="uname" class="col-sm-2 control-label">用户名:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="uname" placeholder="请输入用户名" name="uname" autofocus>
							</div>
						</div>
						<div class="form-group">
							<label for="upwd" class="col-sm-2 control-label">密码:</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" id="upwd" placeholder="请输入密码" name="upwd">
							</div>
						</div>
						<div class="form-group">
							<label for="vcode" class="col-sm-2 control-label">验证码:</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" id="vcode" placeholder="请输入您的验证码" name="vcode">
							</div>
							<div class="col-sm-3" style="padding:0;margin:0">
								<img src="/account/vcode"  id='vcodeimg' style="width:95px;height:30px">
							</div>
						</div>
						
						<div class="col-sm-offset-5 col-sm-10" >
							<button type="submit" class="btn btn-default"  class="btn btn-success">登录</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
	<!-- 	//将当前图片对象的src的值重新赋予一个 /account/vcode
	//为了防止浏览器将图片缓存，每次请求的路径应该要改变 -->
	<script type="text/javascript">
		$('#vcodeimg').click(function(){
			var url="/account/vcode?img=" +Math.random();
			$(this).attr('src',url);
		// 当这句代码执行，就会自动向服务器发送一个请求
	})
</script>
